
.pagefoot {
	position: relative;
	padding-top: 2em;
	//margin-top: -36em;
	background-image: url('/img/bg-2.jpg');
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	@include clearfix;
	label,
	p{

		line-height: 1.5em;
	}
	& > .container > h3 {
		display: none;
	}
	.message {
		text-align: center;
		padding: 1.5em 0 1.5em;
		font-size: 1.2em;
		margin: 0 auto;
		max-width: 600px;
		&:after {
			display: block;
			content: '';
			position: relative;
			height: 2px;
			margin-top: 4em;
			background: radial-gradient(ellipse at center, rgba(255,255,255,0.45) 0%,rgba(255,255,255,0.30) 25%,rgba(255,255,255,0.0) 95%);
		}
		h1,
		h2,
		h3,
		h4 {
			font-size: 1.5em;
			font-weight: 500;
			line-height: 1em;
			margin-bottom: 0.8em;
		}
		p {
			line-height: 2em;
			margin-bottom: 1.6em;
		}
	}
	.sitemap {
		color: white;
		max-width: 30em;
		margin-top: 2em;
		margin-left: auto;
		margin-right: auto;
		ul {
			float: left;
			width: 33.3%;
			padding-bottom: 2.5em;
			li {
				margin-bottom: 2em;
			}
			li a {
				display: block;
				text-align: center;
				font-size: 1.5em;
				line-height: 1em;
				&.active {
					color: #222;
				}
			}
		}
		form {
			display: block;
			position: relative;
			clear: both;
			max-width: 30em;
			margin: 2em auto;
			label {
				position: relative;
				display: block;
				height: 6em;
				overflow: hidden;
			}
			span,
			input {
				display: block;
				position: absolute;
			}
			span:first-child {
				width: 100%;
				font-size: 1.5em;
				left: 0;
				top: 0;
				text-align: center;
			}
			span:last-child {
				left: 2em;
				top: 3.3em;
				color: #ccc;
				font-weight: 600;
				transition: all 0.2s ease-in-out;
			}
			input[type='email'] {
				border: 1px solid white;
				height: 1em;
				width: calc(100% - 12em);
				left: 0em;
				top: 2.66em;
				padding: 1em 1.5em;
				border-radius: 1.5em;
				&:focus {
					& + span {
						top: 5em;
						opacity: 0;
					}
				}
			}
			button {
				position: absolute;
				top: 3.5em;
				right: 0;
				width: 10em;
				height: 4.5em;
				border-radius: 2.25em;
			}
		}
	}
	.contact {
		margin-top: 3em;
		font-size: 1.25em;
		color: white;
		p {
			text-align: center;
		}
	}
	.social {
		text-align: center;
		margin-top: 1em;
		margin-bottom: 1em;
		li {
			background: transparent;
			font-size: 2em;
			a {
				
				filter: invert(50%) sepia(1) saturate(300%) hue-rotate(150deg);
			}
		}
	}
	.legal {
		color: $ltblue;
		padding-bottom: 2em;
		text-align: center;
		p {
			display: inline-block;
		}
		ul {
			display: inline-block;
			letter-spacing: 1em;
			margin-left: 1em;
			li {
				display: inline-block;
				letter-spacing: 0;
				a {

				}
				&:not(:last-child) {
					position: relative;
					&:after {
						display: block;
						content: '';
						position: absolute;
						top: 0.5em;
						right: -0.666em;
						height: 0.666em;
						width: 1px;
						background: $ltblue;
					}
				}
			}
		}
	}

	@media screen and (min-width: 690px){
		height: 0;
		margin-top: 0;
		padding: 0;
		label,
		p{
			line-height: 1.5em;
		}
		.message {
			padding-bottom: 3em;
		}
		& > .container {
			padding-top: 3em;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			&:before {
				display: block;
				position: absolute;
				content: '';
				background-image: url('/img/bg-2.jpg');
				background-size: cover;
				background-position: center bottom;
				background-repeat: no-repeat;
				width: 100vw;
				height: 100%;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
				z-index: -1;
			}
			& > h3 {
				position: absolute;
				bottom: 16em;
				left: 4em;
				display: block;
				a {
					display: block;
					position: relative;
					width: 6em;
					height: 6em;
					background: url('/img/narly-logo.png');
					background-size: contain;
					background-position: center bottom;
					background-repeat: no-repeat;
					text-indent: -10000px;
				}
			}
		}
		.sitemap {
			float: right;
			display: block;
			width: 100%;
			height: 15em;
			width: 44em;
			max-width: none;
			min-width: calc(100% - 18em);
			padding-bottom: 0;
			padding-right: 16em;
			padding-left: 0;
			//background: green;
			margin: 0;
			ul {
				//background: red;
				width: 40%;
				padding-right: 20%;
				padding-bottom: 1.5em;
				&:last-of-type {
					width: 20%;
					padding-right: 0;
				}
				li {

				}
				li a {
					font-size: 1em;
					text-align: left;
				}
			}
			form {
				margin: 0 auto 0 0;
				max-width: 40em;
				//background: purple;
				label {
					height: 4em;
				}
				span,
				input {
				}
				span:first-child {
					width: 8em;
					text-align: left;
					font-size: 1em;
					top: 1.3em;
				}
				span:last-child {
					left: 10em;
					top: 1.3em;
					color: #ccc;
					font-weight: 600;
					transition: all 0.2s ease-in-out;
				}
				input[type='email'] {
					left: 9em;
					top: 0.66em;
					    width: calc(100% - 22em);
					&:focus {
						& + span {
							top: 3em;
						}
					}
				}
				button {
					top: 0.62em;
				}
			}
		}
		.contact {
			text-align: right;
			position: absolute;
			font-size: 1em;
			width: 14em;
			height: 15em;
			bottom: 6.5em;
			right: 4em;
			margin-top: 1em;
			//background: blue;
			p {
				display: inline-block;
				text-align: left;
			}
		}
		.legal,
		.social {
			position: absolute;
			padding: 0;
			margin: 0;
			// p {
			// 	display: inline-block;
			// }
		}
		.legal {
			bottom: 2em;
			left: 4em;
			clear: both;
			ul {
				margin-left: 1em;
				letter-spacing: 1em;
				display: inline-block;
				li:not(:last-child) {
					position: relative;
					display: inline-block;
					&:after {
						display: block;
						content: '';
						position: absolute;
						top: 0.25em;
						right: -0.666em;
						height: 1em;
						width: 1px;
						background: $ltblue;
					}
				}
			}
		}
		.social {
			//background: pink;
			width: 15em;
			bottom: 1.5em;
			right: 4em;
			clear: both;
			text-align: left;
			li {
				font-size: 1.25em;
				margin: 0;
			}
		}
	}
}